{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create A Book Review</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to list</a>
                {% comment %} <a href="/main.html">Back to list</a> {% endcomment %}
            </nav>
        </header>
        <main>
            <div class="book-review-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% comment %} <p>
                        <label for="title">Title</label>
                        <input type="text", required, id="title">
                    </p>
                    <p>
                        <label for="authors">Authors</label>
                        <input type="text", required, id="authors">
                    </p>
                    <p>
                        <label for="summary">Summary</label>
                        <textarea name="" id="" cols="30" rows="10" id="summary"></textarea>
                    </p>
                    <p>
                        <label for="review">Review</label>
                        <textarea name="" id="" cols="30" rows="10" id="review"></textarea>
                    </p> {% endcomment %}
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Ting Wei Wang</div>
            <p>This is a site for you to create a book review.</p>
        </footer>
    </body>
</html>