{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <Title>make it stick - Book Reviews</Title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
        {% comment %} <link rel="stylesheet" href="/book-review.css"> {% endcomment %}
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="/main.html">Back to list</a>
                <a href="/create.html">Create a review</a>
            </nav>
        </header>
        <main>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                  <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                  {{ review.authors }}
                </div>
                <h3>Summary</h3>
                <p>
                  {{ review.summary }}
                </p>
                <h2>My review</h2>
                <p>
                  {{ review.review }}
                </p>
              </div>
            {% comment %} <div class="detail-page-book-review">
                <img src="https://mks.io/make-it-stick.jpg" alt="make it stick cover" class="book-cover">
                <h1>make it stick</h1>
                <div class="book-rating">4  stars</div>
                <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
                <h2>Summary</h2>
                <p>The father handed each child a roadmap at the beginning of the 2-day road trip and explained it was so they could find their way home. You can't compare apples and oranges, but what about bananas and plantains? The crowd yells and screams for more memes. The anaconda was the greatest criminal mastermind in this part of the neighborhood. The manager of the fruit stand always sat and only sold vegetables. The ants enjoyed the barbecue more than the family.</p>
                <h2>My review</h2>
                <div>
                    <p>The father handed each child a roadmap at the beginning of the 2-day road trip and explained it was so they could find their way home. You can't compare apples and oranges, but what about bananas and plantains? The crowd yells and screams for more memes. The anaconda was the greatest criminal mastermind in this part of the neighborhood. The manager of the fruit stand always sat and only sold vegetables. The ants enjoyed the barbecue more than the family.</p>
                    <p>The father handed each child a roadmap at the beginning of the 2-day road trip and explained it was so they could find their way home. You can't compare apples and oranges, but what about bananas and plantains? The crowd yells and screams for more memes. The anaconda was the greatest criminal mastermind in this part of the neighborhood. The manager of the fruit stand always sat and only sold vegetables. The ants enjoyed the barbecue more than the family.</p>
                </div>
            </div> {% endcomment %}
        </main>
        <footer>
            <div>Copyright 2022 by Ting Wei Wang</div>
            <p>This is my review site for the book make it stick.</p>
        </footer>
    </body>
</html>