{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <Title>Book Reviews</Title>
        <link rel="stylesheet" href="{% static 'book-review.css' %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "create_review" %}">Create a review</a>
                {% comment %} <a href="/create.html">Create a review</a> {% endcomment %}
            </nav>
        </header>
        <main>
            {% for review in reviews %}
            <div class="main-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
                {% comment %} <a href="detail.html">{{ review.title }}</a> {% endcomment %}
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                {{ review.authors }}
                </div>
                <h3>Summary</h3>
                <p>
                {{ review.summary }}
                </p>
            </div>
            {% endfor %}
            
            {% comment %} <div class="main-page-book-review">
                <img class="book-cover" src="https://mks.io/make-it-stick.jpg" alt="make it stick cover">
                <h2 class="book-title">
                    <a href="/detail.html">make it stick</a>
                </h2>
                <div class="book-rating">4 stars</div>
                <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
                <h3>Summary</h3>
                <p>The father handed each child a roadmap at the beginning of the 2-day road trip and explained it was so they could find their way home. You can't compare apples and oranges, but what about bananas and plantains? The crowd yells and screams for more memes. The anaconda was the greatest criminal mastermind in this part of the neighborhood. The manager of the fruit stand always sat and only sold vegetables. The ants enjoyed the barbecue more than the family.</p>
            </div> {% endcomment %}
            {% comment %} <div class="main-page-book-review">
                <img src="https://mks.io/impractical-python-projects.jpg" alt="python project cover" class="book-cover">
                <h2 class="book-title">Impractical Python Projects</h2>
                <div class="book-rating">4.5 stars</div>
                <div class="book-authors">By Lee Vaughan</div>
                <h3>Summary</h3>
                <p>The father handed each child a roadmap at the beginning of the 2-day road trip and explained it was so they could find their way home. You can't compare apples and oranges, but what about bananas and plantains? The crowd yells and screams for more memes. The anaconda was the greatest criminal mastermind in this part of the neighborhood. The manager of the fruit stand always sat and only sold vegetables. The ants enjoyed the barbecue more than the family.</p>
            </div> {% endcomment %}
        </main>
        <footer>
            <div>Copyright 2022 by Ting Wei Wang</div>
            <p>This is a website that contains all of my book reviews.</p>
        </footer>
    </body>
</html>